body 
{
    background: rgb(0, 0, 0) center/cover url("../images/ColorHomePageBackground.jpg") no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.controlBox
{
    width: 700px;
    min-height:65vh;
    margin:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
   background-color: #000000;
   box-shadow: 5px 10px 20px rgba(0,0,0,0.6);
   border-radius: 20px; 
   color:white;
    
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="controlBox"] {
      width: 100%;
    }
    form {
        width:90%
    }
  }

#flexbox{
    display: flex;
}

#newInfo{
    display: none;
    width: 300px
}

#addButton, #updateButton{
    display: none;
    flex: 1;
}



