

body.index{
    background: black center/cover url("../images/BeachBackground.jpg") no-repeat;
}

body.signup{
    background: black center/cover url("../images/SignUpBackground.jpg") no-repeat;
}

body.contacts{
    background: black center/cover url("../images/ColorHomePageBackground.jpg") no-repeat;
}

body.index, body.signup, body.contacts
{
    height: 100vh;
	background-attachment: fixed;
}
.LoginBox, .SignUpBox, .controlBox{
   background-color:black;
   box-shadow: 5px 10px 20px rgba(0,0,0,0.6);
   border-radius: 20px;  
   color:white;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.LoginBox
{
    width: 350px;
    height:400px;
    margin:auto;
}

.SignUpBox
{
    width: 450px;
    height:455px;
    margin:auto;
}

.controlBox
{
    width: 700px;
    min-height:65vh;
    margin:auto;

}

#title{
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#loginButton, #createAccount{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
#loginButton:hover, #createAccount:hover{
    color: white;
}

#loginButton:visited, #createAccount:visited{
    color: none;
}

#checkbox{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo{
    filter: drop-shadow(5px 5px 5px #555);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="controlBox"] {
        width: 100%;
    }
    [class*="indexBox"] {
        width: 100%;
    }
    [class*="signUpBox"] {
        width: 100%;
    }
    form {
        width:90%
    }
}

#signupResult{
    display: none;
    background-color: #1c4a90;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    padding: 10px;
    border:1px solid transparent;
    border-radius:4px
}


#flexbox{
    display: flex;
}

#newInfo{
    display: none;
    width: 300px
}

#addButton, #updateButton{
    display: none;
    flex: 1;
}


#icon{
    right:15px;
    bottom: 18px;
    border-radius: 20px;
    position:fixed;
    display:block;
    width: 24px;
    height: 24px;
    text-align: center;
    background-color:#4582a4
}

#icon:hover   { animation-name: icon;
    animation-duration: 1s;
    animation-iteration-count: infinite;}
    @keyframes icon{
        0%{}
        10%{transform:rotate(20deg)}
        80%{transform:rotate(-20deg)}
        100%{}
    }


.darkmodeBox{ 
    background-color:black;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.6); 
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
.darkmodeResult{ 
    background-color: #1c4a90;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
     